<section class="h-[100%]  mt-[80px]">
  
 
    <div class="ml-[60px] lg:ml-[200px]">
        <app-filter></app-filter>
      </div>
    <div class="flex items-start relative lg:ml-[180px] ml-[40px] justify-start">  
      <button
        class="bg-[#FFD8D8] absolute bottom-0 left-0 ml-4 cursor-pointer mb-[-50px] text-black w-10 h-10 rounded-full shadow"
        onclick="document.getElementById('kpi-scroll').scrollLeft -= 300"
      >
        <i class="fa fa-chevron-left"></i>
      </button>
      <div
        id="kpi-scroll"
        class="flex overflow-x-auto gap-8 px-4 scroll-smooth scrollbar-hide"
        style="scroll-behavior: smooth"
      >
        <app-kpi-card> </app-kpi-card>
        <!-- <app-kpi-card> </app-kpi-card>
      <app-kpi-card> </app-kpi-card> -->
      </div>
      <button
        class="bg-[#FFD8D8] absolute bottom-0 right-0 mr-4 cursor-pointer mb-[-50px] text-black w-10 h-10 rounded-full shadow"
        onclick="document.getElementById('kpi-scroll').scrollLeft += 300"
      >
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>
    <div class="rounded-lg lg:ml-[200px] ml-[60px]">
      <app-table> </app-table>
    </div>

</section>
