<div class="flex items-center flex-wrap justify-start gap-6 py-6">



  <div class="bg-[#fff] border border-gray-500 py-2 rounded px-4">
      <input 
      type="text"
      placeholder="Search Principal..."
      [ngModel] = "principalName()"
        (ngModelChange)="principalName.set($event)"
      class="outline-none ">
      <i class="fa fa-search"></i>
    </div>
    <!-- <div class="bg-[#fff] border border-gray-500 py-2 rounded px-4">
      <input 
      type="text"
      placeholder="Search student..."
      class="outline-none ">
      <i class="fa fa-search"></i>
    </div> -->
     <div class="relative flex items-center border border-gray-500 rounded-md px-3 py-2 w-48">
    <i class="fa fa-layer-group text-gray-500 mr-2"></i>
    <select
      [ngModel]="tier()"
      (ngModelChange)="tier.set($event)"
      class="flex-1 outline-none  rounded bg-[#fff] text-sm text-gray-800"
    >
      <option value="">All Tiers</option>
      <option value="Tier 1">Tier 1</option>
      <option value="Tier 2">Tier 2</option>
      <option value="Tier 3">Tier 3</option>
    </select>
  </div>
    <div class="bg-[#fff] border border-gray-500 py-2 rounded px-4">
      <input 
      type="text"
      [ngModel]="schoolName()"
      (ngModelChange)="schoolName.set($event)"
      placeholder="Search school..."
      class="outline-none ">
      <i class="fa fa-search"></i>
    </div>


</div>